<!DOCTYPE html>

<html>
    <head>

        <% include ../partials/header.ejs %>

    </head>
    <body>
    <div class="main" style="min-height: 100%">
        <div class="container">
            <div class="row pull-right footer-item">
                <a href="#" id="changeLocation">Change location</a>
            </div>
            <div class="header page-header">
                Where the fudge should I run?
            </div>
            <div>
                <div class="row">
                    <div id="map" class="map-canvas"></div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <b>Distance</b>
                        <!--<div class="row">-->
                        <select id="distance" class="selectpicker col-sm-5 noRightPad">
                        </select>
                        <!--</div>-->


                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" id="submit" class="btn btn-default">Submit</button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        Actual Distance
                        <div id="result"></div>
                    </div>

                </div>
            </div>
        </div>
        <div style="padding-bottom: 60px">
        </div>
        <div clas="row">
            <div class="col-sm-1">
                <button type="button" id="test" class="btn btn-default">test</button>
            </div>
            <div class="col-sm-2">
                <div class="input-group bootstrap-timepicker timepicker">
                    <input id="timepicker1" type="text" class="form-control input-small">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                </div>
            </div>
        </div>


    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-1 pull-left footer-item">
                    Inspired by <a href="http://wtfsigte.com/">wtfsigte.com</a>
                </div>
                <div class="col-sm-1 pull-left	footer-item noLeftPad">
                    <img src="images/wtfsigte.png" style="width:30px; height: 30;"/>
                </div>
                <div class="col-sm-1 pull-right footer-item">
                    By <a href="http://tonyruns.com">TonyRuns</a>

                </div>
                <div class="col-sm-push-1 pull-right" style="padding:10px">
                    <input type="checkbox" id="unit" checked>
                </div>


            </div>
        </div>
    </div>

    <div class="overlay" id="overlayMain">
        Hold up
        <div class="loader"></div>
    </div>

    <div class="search" id="searchScreen">
        <div class="row">
            <input id="pac-input" class="controls" type="text" placeholder="Enter your location">
            <button type="button" id="searchButton" class="btn btn-default">Search</button>
        </div>
        <div class="row" id="noResults" hidden>
            Location not found
        </div>

    </div>

    <audio src="music/HoldUp.mp3" id="loadMusic">
    </audio>

    </body>


</html>
